<%= form_for @web_image, :html => { :multipart => true }  do |f| %>
  <% if @web_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_image.errors.count, "error") %> prohibited this web_image from being saved:</h2>

      <ul>
      <% @web_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
